{% extends "base_public.html" %} {% block content %}
<h1>Registro – Persona natural</h1>
<form method="post">
  {% csrf_token %} {{ form.non_field_errors }}
  <div><label>Usuario</label>{{ form.username }}</div>
  <div><label>Email</label>{{ form.email }}</div>
  <div><label>RUT</label>{{ form.rut }}</div>
  <div><label>Teléfono</label>{{ form.telefono }}</div>
  <div><label>Contraseña</label>{{ form.password1 }}</div>
  <div><label>Confirmar</label>{{ form.password2 }}</div>
  <button>Crear cuenta</button>
</form>
{% endblock %}
