<footer class="footer" id="contacto">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>SGIDT</h4>
        <p class="footer-desc">
          Sistema de Gestión Inteligente de Documentos Tributarios
        </p>
      </div>
      <div class="footer-section">
        <h4>Enlaces</h4>
        <a href="#inicio">Inicio</a>
        <a href="#caracteristicas">Características</a>
        <a href="#contacto">Contacto</a>
        <a href="#soporte">Soporte</a>
      </div>
      <!--
        <div class="footer-section">
          <h4>Soporte</h4>
          <a href="#ayuda">Centro de ayuda</a>
          <a href="#documentacion">Documentación</a>
          <a href="#contacto">Contactar soporte</a>
        </div>
      -->
      <div class="footer-section">
        <h4>Contacto</h4>
        <p class="footer-line"><i class="fas fa-envelope"></i> sgidtchile@gmail.com</p>
        <a href="https://w.app/sgidt_chile" target="_blank"><i class="fas fa-phone"></i> +569 7966 5294</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 SGIDT. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
