<!-- templates/includes/navbar.html -->
<aside class="sidebar sidebar--dashboard" id="sidebar">
  <!-- Perfil / empresa -->
  <div class="sidebar-profile">
    <div class="avatar">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="profile-meta">
      <strong>SGIDT</strong>
      <small>Panel Administración</small>
    </div>
  </div>
  <div class="sidebar-sep"></div>

  <!-- Menú -->
  <nav class="sidebar-nav">
    <a href="{% url 'panel:dashboard' %}" class="sidebar-link">
      <i class="fas fa-gauge"></i><span>Dashboard</span>
    </a>

    <a href="{% url 'panel:documentos_page' %}" class="sidebar-link">
      <i class="fas fa-folder-open"></i><span>Documentos</span>
    </a>


    <a href="{% url 'panel:reportes' %}" class="sidebar-link">
      <i class="fas fa-chart-line"></i><span>Reportes</span>
    </a>


    <a href="{% url 'panel:validaciones' %}" class="sidebar-link">
      <i class="fas fa-circle-check"></i><span>Validación SII</span>
    </a>


    <a href="{% url 'panel:configuraciones' %}" class="sidebar-link">
      <i class="fas fa-sliders"></i><span>Configuración</span>
    </a>


    <a href="{% url 'panel:ayuda' %}" class="sidebar-link">
      <i class="fas fa-circle-question"></i><span>Ayuda</span>
    </a>


    <!-- ACCESO -->
    <div class="sidebar-sep" style="margin-top: 0.5rem"></div>
    <a href="{% url 'usuarios:logout' %}" class="sidebar-link">
      <i class="fas fa-right-to-bracket"></i><span>Cerrar Sesión</span>
    </a>
  </nav>
</aside>