{% load static %}

<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    SGIDT - Sistema de Gestión Inteligente de Documentos Tributarios
  </title>
  {% block css %} {% endblock css%}

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- CSS propio -->
  <link rel="stylesheet" href="{% static 'sitio/css/landing.css' %}" />
</head>

<body>
  <!-- Header -->

  {% include "includes/navbar_public.html" %}

  <!-- Contenido principal -->
  <main class="main-content">{% block content %}{% endblock %}</main>

  <!-- Footer -->
  {% include "includes/footer_public.html" %}

  <!-- JS propio -->
  {% block js %}
  <script src="{% static 'sitio/js/landing.js' %}"></script>
  {% endblock %}

  {% if messages %}
    {% for message in messages %}
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          Swal.fire({
            title: "{% if message.tags == 'success' %}¡Mensaje Enviado!{% else %}Ups...{% endif %}",
            text: "{{ message }}",
            icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
            confirmButtonColor: '#27ae60', /* Tu color verde */
            confirmButtonText: 'Aceptar',
            timer: 5000, /* Se cierra solo en 5 segundos */
            timerProgressBar: true
          });
        });
      </script>
    {% endfor %}
  {% endif %}

</body>
</html>