{% load static %}

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      SGIDT - Sistema de Gestión Inteligente de Documentos Tributarios
    </title>
    {% block css %} {% endblock css%}

    <!-- Fonts / Icons (CDN – si luego quieres local, lo cambiamos) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'sitio/css/landing.css' %}" />
  </head>

  <body>
    <!-- Header -->

    {% include "includes/navbar_public.html " %}

    <!-- Contenido principal -->
    <main class="main-content">{% block content %}{% endblock %}</main>

    <!-- Footer -->
    {% include "includes/footer_public.html" %}

    <!-- JS propio -->
    {% block js %}
    <script src="{% static 'sitio/js/landing.js' %}"></script>
    {% endblock %}
  </body>
</html>
